root = true

[*]
charset = utf-8
end_of_line = lf

indent_size = 2
indent_style = space

insert_final_newline = true
trim_trailing_whitespace = true

[*.{bash,sh,zsh}]
indent_size = 4
max_line_length = 80

[*.css]
indent_size = 2
max_line_length = 120

[*.html]
indent_size = 2
max_line_length = 120

[*.{js,mjs,ts}]
indent_size = 2
max_line_length = 90

[*.json]
indent_size = 2
max_line_length = unset

[{Makefile*,*.mk}]
indent_size = unset
indent_style = tab

[*.md]
indent_size = 2
max_line_length = 90
trim_trailing_whitespace = false
x-soft-wrap-text = true

[*.{yaml,yml}]
indent_size = 2
